<html>
<head>
</head>
<body>
<form action="/addFlightPost" method="POST">
	<input type="text" name = "flight_num" placeholder="Flight Number" required/> </br>

    <text>Departure Date </text>
	<input type="date" name = "flight_dept_date" required/> </br>
    <text>Departure Time </text>
	<input type="time" name = "flight_dept_time" required/> </br>

    <text>Arrival Date </text>
	<input type="date" name = "flight_arrival_date" required/> </br>
    <text>Arrival Time </text>
	<input type="time" name = "flight_arrival_time" required/> </br>

    <input type="text" name="base_price" placeholder="Price" required> </br>

    <text> Status</text> </br>
	<input type="radio" id="On Time" name="status" value="On Time" required/>
		<label for="On Time">On Time</label><br>
	<input type="radio" id="Delayed" name="status" value="Delayed">
		<label for="Delayed">Delayed</label><br>
	<input type="radio" id="Cancelled" name="status" value="Cancelled">
		<label for="Cancelled">Cancelled</label><br>

    <input type="text" name="dept_airport_name" placeholder="Departure Airport Name" required></br>
    <input type="text" name="arrival_airport_name" placeholder="Arrival Airport Name" required></br>

    <input type="text" name="airplane_id" placeholder="Airplane ID" required></br>

	
	<p>The below field is OPTIONAL is for linking this flight as a return flight to the below departure flight:</p>
	<input type="text" name = "dept_flight_num" placeholder="Departure Flight Number"/> </br>
    <text>Arrival Date </text>
	<input type="date" name = "dept_flight_date"/> </br>
    <text>Arrival Time </text>
	<input type="time" name = "dept_flight_time"/> </br>

	<input type="submit" value = "Add Flight" />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/staffHome">Go back</a>

</body>


</html>
