<html>
<head>
</head>
<body>
{% if badflight %}
<p>{{badflight}}</p>
{% endif %}

{% if not badflight %}
<p>Purchase your ticket below. Return flights are not included.</p>
<p>Airline Name: {{info['name']}}</p>
<p>Flight number: {{info['num']}}</p>
<p>Flight date: {{info['date']}}</p>
<p>Flight time: {{info['time']}}</p>
<p>Cost: {{info['cost']}}</p>
{% if info['extra'] %}
<p>Your ticket cost is 25% higher because the flight is more than 60% full.</p>
{% endif %}
<form action="/purchaseTicketPost" method="POST">
	<input type="radio" id="credit" name="card_type" value="Credit" required>

	<label for="credit">Credit</label><br>
	<input type="radio" id="debit" name="card_type" value="Debit">
	<label for="debit">Debit</label><br>

	<input type="text" name = "card_number" placeholder="Card Number" required/></br>
	<input type="text" name = "card_name" placeholder="Card Name" required/></br>
	<p>Card Expiration Date</p>
	<input type="date" name = "card_date" placeholder="Card Date" required/> </br>

	<input type="submit" value = "Purchase ticket" />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
{% endif %}

<a href="/viewFutureFlights">Go back</a>

</body>


</html>
