<html>
<head>
</head>

{% if message %}
	<p class="error"><strong>{{ message }}!!</strong></p>
{% else %}
	<text>Below is a list of all the customers for the flight you selected: </text> </br>
	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>

	<table>
		<th>Customer</th>

	{% for line in data1 %}
		<tr>
			<td>{{line['customer']}}</td>
		</tr>
	{% endfor %}
	</table>
	 </br> </br> </br>

{% endif %}


<a href="/viewAirlineFlights">Go back</a>

</body>


</html>
